@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

button{
  padding: 0.5em;
  display: block;
  margin: 4vh;
  margin-left: auto;
  margin-right: auto;
  background: none;
  border: 5px black solid;
  border-radius: 15px;
  transition: background-color 1s;
}

button:hover{
 cursor: pointer;
 background-color: rgb(199, 198, 198);
}

.bold{
  font-weight: bold;
  font-size: larger;
}