button{
  padding: 0.5em;
  margin-left: 50vw;
  background: none;
  border: 2px solid lightgray;
  border-radius: 15px;
  transition: background-color 1s;
}

button:hover{
 cursor: pointer;
 background-color: lightcoral;
}

img{
  padding: 5rem;
  background-color: red;
  border-radius: 50%;
}

.bold{
  font-weight: bold;
  font-size: larger;
}